@import "utilities/variables";
@import "components/header";
@import "components/form";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 7rem;
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  width: 100%;
}
